<beans:beans xmlns="http://www.springframework.org/schema/security"
xmlns:beans="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-4.0.xsd">

<http auto-config="true" use-expressions="false">
  <intercept-url pattern="/*" access="ROLE_VIEW_AUDIT,ROLE_LOAN_OFFICER,ROLE_UNDERWRITER" />
  <csrf disabled="true"/>
  <logout logout-success-url="/spring_security_login" />
</http>

<authentication-manager>
  <authentication-provider>
    <user-service>
      <user name="user1" password="password" authorities="ROLE_LOAN_OFFICER,ROLE_VIEW_AUDIT" />
      <user name="user2" password="password" authorities="ROLE_UNDERWRITER" />
    </user-service>
  </authentication-provider>
</authentication-manager>  

</beans:beans>